* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: hsl(235, 18%, 26%);
  display: grid;
  justify-content: center;
  height: 100vh;
}
.card {
  background-color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  border-radius: 25px;
  width: 60vw;
  padding: 2rem;
}
.mobilesignUp {
  display: none;
}
.left {
  display: grid;
  align-self: center;
  padding-left: 3rem;
  width: 25vw;
}
.left h1 {
  padding: 0.5rem 0;
}
p {
  font-size: 16px;
}
p img {
  padding-right: 1rem;
}
.left p {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: flex-start;
  padding: 0.5rem 0;
}
.left p:nth-child(2) {
  padding-bottom: 1.5rem;
}
.labelMsg {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 0.5rem 0;
  font-weight: 700;
  font-size: 14px;
}
.emailForm {
  display: grid;
  padding-top: 2rem;
}
.error {
  display: none;
}
.emailForm input {
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid hsl(231, 7%, 60%);
}
.emailForm button {
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-top: 1.5rem;
}
button:hover {
  cursor: pointer;
}
.right {
  display: grid;
  justify-content: flex-end;
  align-items: center;
}
.right img {
  width: 23vw;
}
.successCard {
  display: grid;
  justify-content: center;
  align-self: center;
  background-color: hsl(0, 0%, 100%);
  width: 30vw;
  padding: 3rem;
  border-radius: 20px;
}
.successCard h1 {
  padding: 1rem 0;
}
.successCard p {
  padding-bottom: 2rem;
}
.dismissBtn {
  width: fit-content;
  display: grid;
  justify-self: center;
  padding: 1rem;
  background-color: hsl(4, 100%, 67%);
  border: none;
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 1200px) {
  .left {
    padding: 0;
  }
  .right img {
    width: 30vw;
  }
}
@media screen and (max-width: 1000px) {
  .card {
    padding: 1rem;
  }
  .right img {
    width: 33vw;
  }
}
@media screen and (max-width: 700px) {
  .right {
    display: none;
  }
  .card {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .left {
    width: calc(60vw - 2rem);
    padding: 1rem;
  }
  .mobilesignUp {
    display: grid;
  }
  .mobilesignUp img {
    width: 100%;
  }
}
@media screen and (max-width: 355px) {
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  .card {
    width: 80vw;
  }
  .emailForm {
    width: calc(70vw - 2rem);
  }
}
@media screen and (max-width: 270px) {
  .card {
    width: 100vw;
  }
  .emailForm input,
  .emailForm button {
    width: calc(70vw - 1rem);
    padding: 1rem;
  }
  p img {
    width: 12px;
  }
  .successCard {
    width: 55vw;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .successCard h1 {
    font-size: 14px;
  }
  .successCard p {
    font-size: 12px;
  }
  .done img {
    width: 40px;
  }
  .dismissBtn {
    width: calc(55vw - 2rem);
  }
  .successCard * {
    word-break: break-all;
  }
}
@media screen and (max-width: 119px) {
  * {
    word-break: break-all;
  }
  .emailForm input {
    padding-left: 0;
    padding-right: 0;
  }
  h1 {
    font-size: 10px;
  }
  p {
    font-size: 8px;
  }
  p img {
    width: 10px;
  }
}
